<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nama %>
    <%= form.text_field :nama, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :no_kamar %>
    <%= form.text_field :no_kamar, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :no_rm %>
    <%= form.text_field :no_rm, class: "form-control" %>
  </div>

    <br>
    <%= form.submit class: "btn btn-primary" %>

<% end %>
