
<p id="notice"><%= notice %></p>



<h1>sortables</h1>
<p>
  Download:
  <%= link_to "CSV", patients_path(format: "csv") %> |
  <%= link_to "Excel", patients_path(format: "xls") %>
</p>

 
<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :nama_cont, "Nama Pasien" %>
    <%= f.text_field :nama_cont %>
  </div>

  <div class="field">
    <%= f.label :no_rm_cont, "no_rm" %>
    <%= f.text_field :agama_cont %>
  </div>


  
  <div class="actions"><%= f.submit "Search" %></div>
<% end %> 



<%
=begin%>
 <div class="table-responsive"> 
<%
=end%>
  <table id="dttb" class="table table-striped table-sm table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>No kamar</th>
      <th>No RM</th>
      <th>Nik</th>
      <th>Tanggal Lahir</th>
      <th>No. Hp</th>
      <th>Agama/th>
      <th>Jenis Kelamin</th>
      <th>Alamat</th>
      <th>Pekerjaan</th>
      <th>Tanggal Masuk</th>
      <th>Tanggal Keluar</th>
      <th>Diagnosa</th>
      <th>Komorbid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @patients.each do |sortable| %>
      <tr>
        <td><%= sortable.id %></td>
        <td><%= sortable.nama %></td>
        <td><%= sortable.no_kamar %></td>
        <td><%= sortable.no_rm %></td>
        <td><%= sortable.nik %></td>
        <td><%= sortable.tgl_lahir%></td>
        <td><%= sortable.no_hp %></td>
        <td><%= sortable.agama%></td>
        <td><%= sortable.jenis_kelamin%></td>
        <td><%= sortable.alamat %></td>
        <td><%= sortable.pekerjaan %></td>
        <td><%= sortable.tgl_masuk%></td>
        <td><%= sortable.tgl_keluar%></td>
        <td><%= sortable.diagnosa %></td>
        <td><%= sortable.komorbid%></td>
        <td><%= link_to "show", @patient %></td>
        <td><%= link_to  "Edit", edit_patient_path(sortable) %></td>
        <td><%= link_to  "Delete", sortable, method: :delete, data: { confirm: 'Anda yakin mau dihapus?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>

 <%= will_paginate  %> 




